---
layout: gallery_default
title: 壹·龍
description: 山有木兮木有枝 心悦君兮君不知 ​​​​
header-img: "img/edith_bg_love.jpg"
permalink: gallery.html
---
<!-- Page Header -->
<header class="intro-header"
    style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title> -->

<!-- </head> -->

<!-- <body> -->
<!-- <link rel="stylesheet" href="css/figure_captions_style.css" /> -->
<!-- <link rel="stylesheet" href="css/figure_captions_style.css" /> -->
<link rel="stylesheet" href="css/figure_captions_style.css"></link>
<!-- <div class="container">
    <div class="row">
        <div class="col-12@sm">
            <h1>Shuffle homepage demo</h1>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-4@sm col-3@md">
            <div class="filters-group">
                <label for="filters-search-input" class="filter-label">Search</label>
                <input class="textfield filter__search js-shuffle-search" type="search" id="filters-search-input" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12@sm filters-group-wrap">
            <div class="filters-group">
                <p class="filter-label">Filter</p>
                <div class="btn-group filter-options">
                    <button class="btn btn--primary" data-group="campaign">Campaign</button>
                    <button class="btn btn--primary" data-group="drama">Drama</button>
                    <button class="btn btn--primary" data-group="en_route">En Route</button>
                    <button class="btn btn--primary" data-group="city">City</button>
                </div>
            </div>
            <fieldset class="filters-group">
                <legend class="filter-label">Sort</legend>
                <div class="btn-group sort-options">
                    <label class="btn active">
                        <input type="radio" name="sort-value" value="dom" checked /> Default
                    </label>
                    <label class="btn">
                        <input type="radio" name="sort-value" value="title" /> Title
                    </label>
                    <label class="btn">
                        <input type="radio" name="sort-value" value="date-created" /> Date Created
                    </label>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="container">
    <div id="grid" class="row my-shuffle-container">
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["campaign"]'
            data-date-created="2019-07-11" data-title="@LouisVuitton">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img src="https://i.imgur.com/WGbyB3Dl.jpg"
                            srcset="https://i.imgur.com/WGbyB3Dl.jpg" alt="ZYL in Black Suit" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/WGbyB3D.jpg"
                            target="_blank" rel="noopener">@LouisVuitton</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Campaign</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--h3" data-groups='["campaign"]'
            data-date-created="2019-07-11" data-title="@LouisVuitton">
            <div class="picture-item__inner">

                <img src="https://i.imgur.com/IjSsnC5.jpg"
                    srcset="https://i.imgur.com/IjSsnC5.jpg"
                    alt="@LouisVuitton" />
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/IjSsnC5.jpg"
                            target="_blank" rel="noopener">@LouisVuitton</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Campaign</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["campaign"]'
            data-date-created="2019-07-11" data-title="@LouisVuitton">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: top"
                            src="https://i.imgur.com/p1ySBCw.jpg"
                            srcset="https://i.imgur.com/p1ySBCw.jpg"
                            alt="@LouisVuitton" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/p1ySBCw.jpg"
                            target="_blank" rel="noopener">@LouisVuitton</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Campaign</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["drama"]' data-date-created="2016-03-07"
            data-title="drama_friends">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img src="https://i.imgur.com/khmnU1S.jpg"
                            srcset="https://i.imgur.com/khmnU1S.jpg"
                            alt="ZYL Starring Jingran" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/khmnU1S.jpg"
                            target="_blank" rel="noopener">Starring Jingran</a></figcaption>
                    <p class="picture-item__tags hidden@xs">drama</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["campaign"]'
            data-date-created="2019-07-11" data-title="@LouisVuitton">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: 50% 10%"
                            src="https://i.imgur.com/GWvM5uz.jpg"
                            srcset="https://i.imgur.com/GWvM5uz.jpg"
                            alt="@LouisVuitton" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/GWvM5uz.jpg"
                            target="_blank" rel="noopener">@LouisVuitton</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Campaign</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--h2" data-groups='["campaign"]'
            data-date-created="2016-06-29" data-title="@LouisVuitton">
            <div class="picture-item__inner">

                <img style="object-position: 50% 15%"
                    src="https://i.imgur.com/vLuuMBq.jpg"
                    srcset="https://i.imgur.com/vLuuMBq.jpg" alt="@LouisVuitton" />
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/vLuuMBq.jpg"
                            target="_blank" rel="noopener">@LouisVuitton</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Campaign</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["en_route"]'
            data-date-created="2019-07-01" data-title="ZYL en Route">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: 50% 30%"
                            src="https://i.imgur.com/Tkx6NJ9.jpg"
                            srcset="https://i.imgur.com/Tkx6NJ9.jpg"
                            alt="ZYL en Route" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/Tkx6NJ9.jpg"
                            target="_blank" rel="noopener">In Heisinki</a></figcaption>
                    <p class="picture-item__tags hidden@xs">En Route</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["drama"]' data-date-created="2018-09-01"
            data-title="Starring Jingran">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img src="https://i.imgur.com/TYHSjHE.jpg"
                            srcset="https://i.imgur.com/TYHSjHE.jpg"
                            alt="Starring Jingran" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/TYHSjHE.jpg"
                            target="_blank" rel="noopener">Jingran in Rome</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Drama</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["drama"]' data-date-created="2018-09-01"
            data-title="Starring Jingran">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img src="https://i.imgur.com/tPALRyZ.jpg"
                            srcset="https://i.imgur.com/tPALRyZ.jpg"
                            alt="Starring Jingran" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/tPALRyZ.jpg"
                            target="_blank" rel="noopener">Jingran</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Drama</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--h3" data-groups='["campaign"]'
            data-date-created="2019-07-11" data-title="@refa">
            <div class="picture-item__inner">

                <img src="https://i.imgur.com/m1IxQ9Yl.jpg"
                    srcset="https://i.imgur.com/m1IxQ9Yl.jpg"
                    alt="@refa" />
                <!-- <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/m1IxQ9Y.jpg"
                            target="_blank" rel="noopener">@refa</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Campaign</p>
                </div>
            </div> -->
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["en_route"]'
            data-date-created="2019-07-01" data-title="ZYL en Route">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: 50% 50%"
                            src="https://i.imgur.com/PZV56OQl.jpg"
                            srcset="https://i.imgur.com/PZV56OQl.jpg"
                            alt="ZYL en Route" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/PZV56OQ.jpg"
                            target="_blank" rel="noopener">In Heisinki</a></figcaption>
                    <p class="picture-item__tags hidden@xs">En Route</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["en_route"]'
            data-date-created="2019-07-01" data-title="ZYL en Route">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: 50% 50%"
                            src="https://i.imgur.com/vOgMpzbl.jpg"
                            srcset="https://i.imgur.com/vOgMpzbl.jpg"
                            alt="ZYL en Route" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/vOgMpzb.jpg"
                            target="_blank" rel="noopener">In Heisinki</a></figcaption>
                    <p class="picture-item__tags hidden@xs">En Route</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--h2" data-groups='["en_route"]'
            data-date-created="2019-07-01" data-title="ZYL en Route">
            <div class="picture-item__inner">

                <div class="aspect__inner">
                    <img src="https://i.imgur.com/Jy0UdOpl.jpg"
                        srcset="https://i.imgur.com/Jy0UdOpl.jpg"
                        alt="ZYL en Route" />
                </div>

                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/Jy0UdOp.jpg"
                            target="_blank" rel="noopener">In Heisinki</a></figcaption>
                    <p class="picture-item__tags hidden@xs">En Route</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["en_route"]'
            data-date-created="2019-07-01" data-title="ZYL en Route">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: 50% 50%"
                            src="https://i.imgur.com/ZWxFjP7l.jpg"
                            srcset="https://i.imgur.com/ZWxFjP7l.jpg"
                            alt="ZYL en Route" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/ZWxFjP7.jpg"
                            target="_blank" rel="noopener">In Heisinki</a></figcaption>
                    <p class="picture-item__tags hidden@xs">En Route</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["en_route"]'
            data-date-created="2019-07-01" data-title="ZYL en Route">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: 50% 50%"
                            src="https://i.imgur.com/SPZ7XoLl.jpg"
                            srcset="https://i.imgur.com/SPZ7XoLl.jpg"
                            alt="ZYL en Route" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://i.imgur.com/SPZ7XoL.jpg"
                            target="_blank" rel="noopener">In Heisinki</a></figcaption>
                    <p class="picture-item__tags hidden@xs">En Route</p>
                </div>
            </div>
        </figure>
        <div class="col-1@sm col-1@xs my-sizer-element"></div>
    </div>
</div>
<!-- <script src="js/jquery.js"></script> -->
<!-- <script src="js/jquery.min.js"></script> -->
<!-- <script src="js/jquery.shuffle.min.js"></script> -->
<script src="js/shuffle_gallery.js"></script>
<script src="js/shuffle.js"></script>
<!-- </html> -->