---
layout: gallery_default
title: 壹·龍
description: 山有木兮木有枝 心悦君兮君不知 ​​​​
header-img: "img/edith_bg_love.jpg"
permalink: gallery.html
---
<!-- Page Header -->
<header class="intro-header"
    style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title> -->

<!-- </head> -->

<!-- <body> -->
<!-- <link rel="stylesheet" href="css/figure_captions_style.css" /> -->
<!-- <link rel="stylesheet" href="css/figure_captions_style.css" /> -->
<style>
    .btn--primary {
        color: #3498db;
    }

    button.btn.btn--primary:hover {
        color: #fff;
    }

    .filter-options .btn {
        font-weight: 600;
        /* border: 1.5px solid lightblue; */
    }

    button.btn.btn--primary.active {
        color: #fff;
    }

    .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .btn-group .btn:last-child {
        border-radius: 0 5px 5px 0;
    }

    .filter-label {
        margin-top: 10px;
        font-weight: bold;
    }

    .filter-options .btn-group .btn:first-child {
        border-radius: 3px 0 0 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 3px;
        border-color: #3498db;
    }

    .filter-options .btn {
        border: 1px solid #3498db;
    }

    .filter-options .btn-group .btn:last-child {
        border-radius: 0 3px 3px 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 0px;
        border-color: #3498db;
    }

    legend {
        border: 0px solid #e5e5e5;
        font: 18px;
    }

    .sort-options .btn-group .btn:first-child {
        border-radius: 3px 0 0 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 3px;
        border-color: #34495e;
    }

    .sort-options .btn {
        border: 1px solid #34495e;
    }

    .sort-options .btn:hover {
        color: #fff;
    }

    .sort-options .btn-group .btn:last-child {
        border-radius: 0 3px 3px 0;
        border-top-left-radius: 0px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 0px;
        border-color: #34495e;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col-12@sm">
            <!-- <h1>Shuffle homepage demo</h1> -->
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4@sm col-3@md">
            <div class="filters-group">
                <label for="filters-search-input" class="filter-label">Search</label>
                <input class="textfield filter__search js-shuffle-search" type="search" id="filters-search-input" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12@sm filters-group-wrap">
            <div class="filters-group">
                <p class="filter-label">Filter</p>
                <div class="btn-group filter-options">
                    <button class="btn btn--primary" data-group="campaign">Campaign</button>
                    <button class="btn btn--primary" data-group="drama">Drama</button>
                    <button class="btn btn--primary" data-group="en_route">En Route</button>
                    <button class="btn btn--primary" data-group="city">City</button>
                </div>
            </div>
            <fieldset class="filters-group">
                <legend class="filter-label">Sort</legend>
                <div class="btn-group sort-options">
                    <label class="btn active">
                        <input type="radio" name="sort-value" value="dom" checked /> Default
                    </label>
                    <label class="btn">
                        <input type="radio" name="sort-value" value="title" /> Title
                    </label>
                    <label class="btn">
                        <input type="radio" name="sort-value" value="date-created" /> Date Created
                    </label>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="container">
    <div id="grid" class="row my-shuffle-container">
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["campaign"]'
            data-date-created="2019-07-11" data-title="@LouisVuitton">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img src="https://photos.google.com/photo/AF1QipNZMY0cnkuWzZeR7fu6RPX5xAI8qh95R5_bimls"
                            srcset="" alt="ZYL in Black Suit" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="https://photos.google.com/photo/AF1QipNZMY0cnkuWzZeR7fu6RPX5xAI8qh95R5_bimls"
                            target="_blank" rel="noopener">@LouisVuitton</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Campaign</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--h2" data-groups='["campaign"]'
            data-date-created="2019-07-11" data-title="@LouisVuitton">
            <div class="picture-item__inner">

                <img src="http://imglf3.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlVC9iVW9MMm5MZWxvWU8xUzlXWTkvQmUrQlZaR1g0K1NRPT0.jpg?imageView&thumbnail=320x0&quality=96&stripmeta=0&type=jpg"
                    srcset="http://imglf3.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlVC9iVW9MMm5MZWxvWU8xUzlXWTkvQmUrQlZaR1g0K1NRPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                    alt="@LouisVuitton" />
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf3.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlVC9iVW9MMm5MZWxvWU8xUzlXWTkvQmUrQlZaR1g0K1NRPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">@LouisVuitton</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Campaign</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["campaign"]'
            data-date-created="2019-07-11" data-title="@LouisVuitton">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: top"
                            src="http://imglf3.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlWGdpSENpczVDYmFkVjh5VmFLVFlEc0ZGTGJMYXVlcmhRPT0.jpg?imageView&thumbnail=320x0&quality=96&stripmeta=0&type=jpg"
                            srcset="http://imglf3.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlWGdpSENpczVDYmFkVjh5VmFLVFlEc0ZGTGJMYXVlcmhRPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            alt="@LouisVuitton" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf3.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlWGdpSENpczVDYmFkVjh5VmFLVFlEc0ZGTGJMYXVlcmhRPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">@LouisVuitton</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Campaign</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["drama"]' data-date-created="2016-03-07"
            data-title="drama_friends">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img src="http://imglf4.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlUkpubEN1VDFhK05Yc3p1eFZUZnFYUm8vbmFkSjRIWDNnPT0.jpg?imageView&thumbnail=320x0&quality=96&stripmeta=0&type=jpg"
                            srcset="http://imglf4.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlUkpubEN1VDFhK05Yc3p1eFZUZnFYUm8vbmFkSjRIWDNnPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            alt="ZYL Starring Jingran" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf4.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlUkpubEN1VDFhK05Yc3p1eFZUZnFYUm8vbmFkSjRIWDNnPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">Starring Jingran</a></figcaption>
                    <p class="picture-item__tags hidden@xs">drama</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["campaign"]'
            data-date-created="2019-07-11" data-title="@LouisVuitton">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: 50% 10%"
                            src="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlV0ZjN0tOVU5HaFhaNHRqYTF2bVJ2NFZxNkFuOU9oWkpRPT0.jpg?imageView&thumbnail=320x0&quality=96&stripmeta=0&type=jpg"
                            srcset="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlV0ZjN0tOVU5HaFhaNHRqYTF2bVJ2NFZxNkFuOU9oWkpRPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            alt="@LouisVuitton" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlV0ZjN0tOVU5HaFhaNHRqYTF2bVJ2NFZxNkFuOU9oWkpRPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">@LouisVuitton</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Campaign</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--h2" data-groups='["campaign"]'
            data-date-created="2016-06-29" data-title="@LouisVuitton">
            <div class="picture-item__inner">

                <img style="object-position: 50% 15%"
                    src="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlUTlCTkJIK1ZVei8yMnRxU1NOOWVkVENZcUw1akk4N3B3PT0.jpg?imageView&thumbnail=320x0&quality=96&stripmeta=0&type=jpg"
                    srcset="" alt="@LouisVuitton" />
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlUTlCTkJIK1ZVei8yMnRxU1NOOWVkVENZcUw1akk4N3B3PT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">@LouisVuitton</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Campaign</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["en_route"]'
            data-date-created="2019-07-01" data-title="ZYL en Route">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: 50% 30%"
                            src="http://imglf5.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlVkdOYW5OM2czSExNaUZzNU45QkVmdzRBb3FBczV0TGpBPT0.jpg?imageView&thumbnail=320x0&quality=96&stripmeta=0&type=jpg"
                            srcset="http://imglf5.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlVkdOYW5OM2czSExNaUZzNU45QkVmdzRBb3FBczV0TGpBPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            alt="ZYL en Route" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf5.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlVkdOYW5OM2czSExNaUZzNU45QkVmdzRBb3FBczV0TGpBPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">In Heisinki</a></figcaption>
                    <p class="picture-item__tags hidden@xs">En Route</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["drama"]' data-date-created="2018-09-01"
            data-title="Starring Jingran">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img src="http://imglf4.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlV1A3UEZSZDBNR2hVMFNXZkMyYTAzOENMZzZ4OUVDMW5BPT0.jpg?imageView&thumbnail=320x0&quality=96&stripmeta=0&type=jpg"
                            srcset="http://imglf4.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlV1A3UEZSZDBNR2hVMFNXZkMyYTAzOENMZzZ4OUVDMW5BPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            alt="Starring Jingran" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf4.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlV1A3UEZSZDBNR2hVMFNXZkMyYTAzOENMZzZ4OUVDMW5BPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">Jingran in Rome</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Drama</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["drama"]' data-date-created="2018-09-01"
            data-title="Starring Jingran">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img src="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlVVhieCtWekgxK0ZwdHAzVzNSdWZZNFlzZXkrTlFBeHp3PT0.jpg?imageView&thumbnail=320x0&quality=96&stripmeta=0&type=jpg"
                            srcset="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlVVhieCtWekgxK0ZwdHAzVzNSdWZZNFlzZXkrTlFBeHp3PT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            alt="Starring Jingran" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnlMakJ6OUdkQkZlVVhieCtWekgxK0ZwdHAzVzNSdWZZNFlzZXkrTlFBeHp3PT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">Jingran</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Drama</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--h2" data-groups='["campaign"]'
            data-date-created="2019-07-11" data-title="@refa">
            <div class="picture-item__inner">

                <img src="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvdjRrU1EyV3VYSXRCSjZ2Q0NNNG93bUJwMk1LU1hUcjZBPT0.jpg?imageView&thumbnail=200y300&type=jpg&quality=96&stripmeta=0&type=jpg"
                    srcset="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvdjRrU1EyV3VYSXRCSjZ2Q0NNNG93bUJwMk1LU1hUcjZBPT0.jpg?imageView&thumbnail=2000y3000&type=jpg&quality=96&stripmeta=0&type=jpg"
                    alt="@refa" />
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvdjRrU1EyV3VYSXRCSjZ2Q0NNNG93bUJwMk1LU1hUcjZBPT0.jpg?imageView&thumbnail=2000y3000&type=jpg&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">@refa</a></figcaption>
                    <p class="picture-item__tags hidden@xs">Campaign</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["en_route"]'
            data-date-created="2019-07-01" data-title="ZYL en Route">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: 50% 50%"
                            src="http://imglf4.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvZzE4aHNzd1d6ZjRGQVdRcEVUakdCNnhhQ0VFeEZpZFRBPT0.jpg?imageView&thumbnail=320x0&quality=96&stripmeta=0&type=jpg"
                            srcset="http://imglf4.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvZzE4aHNzd1d6ZjRGQVdRcEVUakdCNnhhQ0VFeEZpZFRBPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            alt="ZYL en Route" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf4.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvZzE4aHNzd1d6ZjRGQVdRcEVUakdCNnhhQ0VFeEZpZFRBPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">In Heisinki</a></figcaption>
                    <p class="picture-item__tags hidden@xs">En Route</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["en_route"]'
            data-date-created="2019-07-01" data-title="ZYL en Route">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: 50% 50%"
                            src="http://imglf5.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvby9kMG96U0M0UDFxcVJzUzkrY2xXN29wS0hoZW0yQXJ3PT0.jpg?imageView&thumbnail=320x0&quality=96&stripmeta=0&type=jpg"
                            srcset="http://imglf5.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvby9kMG96U0M0UDFxcVJzUzkrY2xXN29wS0hoZW0yQXJ3PT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            alt="ZYL en Route" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf5.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvby9kMG96U0M0UDFxcVJzUzkrY2xXN29wS0hoZW0yQXJ3PT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">In Heisinki</a></figcaption>
                    <p class="picture-item__tags hidden@xs">En Route</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item picture-item--h2" data-groups='["en_route"]'
            data-date-created="2019-07-01" data-title="ZYL en Route">
            <div class="picture-item__inner">

                <div class="aspect__inner">
                    <img src="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvaEhqcjJzUlViUnREV0pXSjBvaUxoZ0wxa2hLMFR0dG13PT0.jpg?imageView&thumbnail=320x0&quality=96&stripmeta=0&type=jpg"
                        srcset="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvaEhqcjJzUlViUnREV0pXSjBvaUxoZ0wxa2hLMFR0dG13PT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                        alt="ZYL en Route" />
                </div>

                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvaEhqcjJzUlViUnREV0pXSjBvaUxoZ0wxa2hLMFR0dG13PT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">In Heisinki</a></figcaption>
                    <p class="picture-item__tags hidden@xs">En Route</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["en_route"]'
            data-date-created="2019-07-01" data-title="ZYL en Route">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: 50% 50%"
                            src="http://imglf3.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvcld2ZERXV1dWMTh5MnM0T1krTm1lNmdrZlRjeTRpOXBRPT0.jpg?imageView&thumbnail=320x0&quality=96&stripmeta=0&type=jpg"
                            srcset="http://imglf3.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvcld2ZERXV1dWMTh5MnM0T1krTm1lNmdrZlRjeTRpOXBRPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            alt="ZYL en Route" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf3.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvcld2ZERXV1dWMTh5MnM0T1krTm1lNmdrZlRjeTRpOXBRPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">In Heisinki</a></figcaption>
                    <p class="picture-item__tags hidden@xs">En Route</p>
                </div>
            </div>
        </figure>
        <figure class="col-3@xs col-4@sm col-3@md picture-item" data-groups='["en_route"]'
            data-date-created="2019-07-01" data-title="ZYL en Route">
            <div class="picture-item__inner">
                <div class="aspect aspect--16x9">
                    <div class="aspect__inner">
                        <img style="object-position: 50% 50%"
                            src="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvbXQ5cWZVcXhEMTluRWdKaDZHaW5Fd0dXdG1lVFNPNFNBPT0.jpg?imageView&thumbnail=320x0&quality=96&stripmeta=0&type=jpg"
                            srcset="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvbXQ5cWZVcXhEMTluRWdKaDZHaW5Fd0dXdG1lVFNPNFNBPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            alt="ZYL en Route" />
                    </div>
                </div>
                <div class="picture-item__details">
                    <figcaption class="picture-item__title"><a
                            href="http://imglf6.nosdn0.126.net/img/dXNvUE9kemNXWnk2RnkwdDMyWUdvbXQ5cWZVcXhEMTluRWdKaDZHaW5Fd0dXdG1lVFNPNFNBPT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg"
                            target="_blank" rel="noopener">At Heisinki Station</a></figcaption>
                    <p class="picture-item__tags hidden@xs">En Route</p>
                </div>
            </div>
        </figure>
        <div class="col-1@sm col-1@xs my-sizer-element"></div>
    </div>
</div>
<!-- <script src="js/jquery.js"></script> -->
<!-- <script src="js/jquery.min.js"></script> -->
<!-- <script src="js/jquery.shuffle.min.js"></script> -->
<script src="js/shuffle_gallery.js"></script>
<script src="js/shuffle.js"></script>
<!-- </html> -->